
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.wrapdiv.com/html/doctio/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Apr 2023 08:45:37 GMT -->
<head>
    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Nha khoa Phương Thảo</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/assets/images/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&amp;family=Rubik:wght@400;500;600;700&amp;display=swap" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/Content/assets/fonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/Content/assets/css/slick-slider.css">
    <link rel="stylesheet" href="/Content/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/Content/assets/css/slicknav.min.css">
    <link rel="stylesheet" href="/Content/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
    <link href="~/Content/datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/vendors/fontawesome/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link href="~/Content/css/home.css" rel="stylesheet" />
    <style>
        .nav-link .user-name {
            font-family: 'Times New Roman';
            font-size: 15px;
            font-weight: 400;
            text-transform: initial;
            letter-spacing: 0px;
            margin-left: 7px;
        }

        .nav-link .avatar-user {
            height: 40px;
            width: 40px;
            border: 0.5px solid #aa8453;
            border-radius: 50%;
        }

        .navbar .navbar-nav {
            display: flex;
            align-items: center;
        }

        .dropdown:hover .dropdown-menu,
        .dropdown:hover .mega-menu {
            opacity: 1;
            visibility: visible;
            -webkit-transform: translateY(0);
            transform: translateY(0);
        }

        .dropdown .nav-link {
            cursor: pointer;
        }

            .dropdown .nav-link i {
                padding-left: 0px;
                font-size: 8px;
            }

        .dropdown-item {
            position: relative;
        }

            .dropdown-item:hover .sub-menu {
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            .dropdown-item span {
                display: block;
                cursor: pointer;
            }

        .dropdown-menu,
        .sub-menu {
            display: block;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: translateY(20px);
            transform: translateY(20px);
            width: 200px;
            padding: 15px 10px;
            border-radius: 0;
            border: 0;
            background-color: #fff;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

            .dropdown-menu .dropdown-item,
            .sub-menu .dropdown-item {
                padding: 4px 15px;
                font-family: 'Rubik', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #222;
                position: relative;
                -webkit-transition: all .4s;
                transition: all .4s;
                border-bottom: 1px solid #f4f4f4;
                background-color: transparent;
            }

                .dropdown-menu .dropdown-item:last-child,
                .sub-menu .dropdown-item:last-child {
                    border-bottom: none;
                }

                .dropdown-menu .dropdown-item:hover,
                .sub-menu .dropdown-item:hover {
                    background: transparent;
                    padding-left: 20px;
                    color: #222;
                }

                .dropdown-menu .dropdown-item a,
                .sub-menu .dropdown-item a {
                    display: block;
                }

                .dropdown-menu .dropdown-item i,
                .sub-menu .dropdown-item i {
                    padding: 13px 0 0 5px;
                    font-size: 8px;
                    float: right;
                }

                .dropdown-menu .dropdown-item em,
                .sub-menu .dropdown-item em {
                    font-size: 8px;
                    background-color: #222;
                    padding: 2px 4px;
                    color: #fff;
                    border-radius: 2px;
                    position: absolute;
                    right: 10px;
                    top: 5px;
                }

                .dropdown-menu .dropdown-item em,
                .sub-menu .dropdown-item em {
                    font-size: 10px;
                    background-color: #aa8453;
                    padding: 3px 6px;
                    color: #fff;
                    border-radius: 0px;
                    position: absolute;
                    margin-left: 10px;
                    top: 7px;
                    font-style: normal;
                    line-height: 1.5em;
                }

        ul.dropdown-menu.last.menu-custom {
            transform: translate(-150px,60px);
        }
        .burger-btn {
            width: 30px;
            height: 30px;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 50%;
            padding: 20px;
        }

        .number-notification-user {
            position: absolute;
            z-index: 2;
            color: white;
            font-size: 9px;
            background-color: red;
            display: none;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            top: 5px;
            right: 4px;
            font-weight: 500;
            padding: 2px;
        }

        .notification {
            width: 39px;
            height: 39px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 50%;
            position: relative;
            margin-right: 40px;
        }

    </style>
    @RenderSection("styles", false)
</head>

<body>
    <!--Site Wrapper -->
    <div class="site header-style-one">
        <!-- Preloader -->
        <div class="preloader-wrapper">
            <div class="preloader-container">
                <div class="preloader bounce-active">
                    <img src="/Content/assets/images/others/preloader.png" alt="preloader">
                </div>
            </div>
        </div>
        <!-- Preloader End -->
        <!-- Mobile Menu -->
        <div class="mobile-menu-container">
            <div class="mobile-menu-close"></div>
            <div id="mobile-menu-wrap"></div>
        </div>
        <!-- Mobile Menu End -->
        <!-- Header Search -->
        <div class="header-search-wrapper">
            <div class="search-close"></div>
            <div class="wrd-table">
                <div class="wrd-table-cell">
                    <form role="search" method="get" class="search-form" action="https://demo.wrapdiv.com/html/doctio/index.html">
                        <input type="search" class="search-field" placeholder="Search..." value="" required="" name="s">
                        <button type="submit" class="search-submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Header Search End -->
        <!-- Header Area -->
        <header class="header-area site-header">
            <div class="header-top-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-8 col-lg-7 col-12">
                            <div class="header-top-info">
                                <ul class="wrd-list-style wrd-list-inline">
                                    <li class="top-info-item">
                                        <i class="far fa-clock"></i>
                                        <strong>Working Hour:</strong> 08.00am - 05.00pm
                                    </li>
                                    <li class="top-info-item">
                                        <i class="far fa-envelope"></i>
                                        <strong>Email:</strong> <a href="mailto:info@wrapdiv.com">thaovu13092001@gmail.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-5 col-12">
                            <div class="header-top-social-icon">
                                <ul class="wrd-list-style wrd-list-inline">
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>

                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>

                                    <li class="top-info-item">
                                        <strong>Hotline:</strong> <a href="tel:12345678">+0365 (186) 564</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-menu-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-2 col-md-4 col-5">
                            <div class="site-branding">
                                <a href="/">
                                    <img src="~/Content/assets/images/logo/logo-default.png" alt="onland">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-10 col-md-8 col-7 d-flex align-items-center justify-content-end">
                            <div class="header-navigation-area">
                                <nav class="main-navigation">
                                    <div class="main-menu-container">
                                        <ul id="main-menu" class="menu">
                                            <li class="menu-item-has-children @(ViewBag.Menu == "home" ? "current-menu-ancestor current-menu-item" : "") " >
                                                <a href="/">TRANG CHỦ</a>

                                            </li>

                                            <li class="menu-item-has-children @(ViewBag.Menu == "about" ? "current-menu-ancestor current-menu-item" : "") "><a href="/gioi-thieu">GIỚI THIỆU</a></li>


                                            <li class="menu-item-has-children @(ViewBag.Menu == "doctor" ? "current-menu-ancestor current-menu-item" : "")">
                                                <a href="/bac-si/danh-sach?page=1">BÁC SĨ</a>
                                            </li>


                                            <li class="menu-item-has-children @(ViewBag.Menu == "service" ? "current-menu-ancestor current-menu-item" : "")">
                                                <a href="/dich-vu/danh-sach?CurrentPage=1">DỊCH VỤ</a>
                                                <ul class="sub-menu" id="idService">
                                                </ul>
                                            </li>

                                            <li class="menu-item-has-children @(ViewBag.Menu == "news" ? "current-menu-ancestor current-menu-item" : "")">
                                                <a href="/tin-tuc/danh-sach?page=1">TIN TỨC</a>
                                            </li>

                                            <li class="menu-item-has-children @(ViewBag.Menu == "contact" ? "current-menu-ancestor current-menu-item" : "")"><a href="/lien-he">LIÊN HỆ</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>

                            <div class="header-buttons-area">
                                <ul class="header-buttons-wrapper wrd-list-style d-flex justify-content-end align-items-center" style="gap: 20px;">
                                    <li class="header-button"><a class="wrd-button" style="width: 145px; " href="/dat-lich-hen">ĐẶT HẸN</a></li>
                                    <li class="nav-item dropdown">
                                        <div class="nav-link d-flex" style="margin-top: 10px;">
                                            <div class="user-img">
                                                <img class="avatar-user" id="avatar-user" src="" alt="">
                                            </div>

                                            <div class="user-name" style="margin-right: 30px;">
                                                <h6 class="mb-0" id="user-name"></h6>
                                                <p class="mb-0" id="user-account" style="font-size:13px;"></p>
                                            </div>
                                        </div>


                                        <ul class="dropdown-menu last menu-custom">
                                            <li class="dropdown-item">
                                                <a href="/thong-tin-ca-nhan">Thông tin cá nhân</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/lich-hen-user">Lịch sử đặt hẹn</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/doi-mat-khau">Đổi mật khẩu</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="" onclick="LogOut();">Đăng xuất</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="mobile-menu-trigger"><span></span><span></span><span></span></li>

                                </ul>
                            </div>
                            <div class="notification">
                                <a href="/thong-bao">
                                    <i class="fa-regular fa-bell fa-xl"></i>
                                    <div class="number-notification-user" id="number-notification-user">0</div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Area End-->
        <!-- Site Content Wrapper -->
        <div class="site-content">
            <!-- Content Area-->
            <div class="content-area">
                <!-- Slider Section -->
                @RenderSection("Slider", false)
                <!-- Slider Section End-->
                @RenderBody()
                <!-- Footer Are -->
                <footer class="site-footer">

                    <div class="footer-widget-area">
                        <div class="container">
                            <div class="row">
                                <div class="widget col-lg-4 col-md-8 wrd-about-company-widget">
                                    <h4 class="widget-title">Giới thiệu</h4>
                                    <div class="widget-about-description">
                                        Nha khoa Phương Thảo tự hào là trung tâm nha khoa điều trị bệnh lý và thẩm mỹ răng hàng đầu Việt Nam, địa chỉ chăm sóc sức khỏe răng miệng tin cậy của hàng triệu khách hàng trên cả nước.
                                    </div>

                                    <div class="find-us-on">Tìm kiếm chúng tôi qua:</div>

                                    <ul class="widget-social-icons footer-social-icon wrd-list-inline">
                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                        </li>

                                        <li>
                                            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="widget col-lg-4 col-md-8 widget_nav_menu">
                                    <h4 class="widget-title">Quick Links</h4>
                                    <ul class="menu">
                                        <li><a href="/gioi-thieu">Giới thiệu</a></li>
                                        <li><a href="/lien-he">Liên hệ</a></li>
                                        <li><a href="/bac-si">Đội ngũ bác sĩ</a></li>
                                        <li><a href="/dich-vu">Dịch vụ</a></li>
                                    </ul>
                                </div>

                                @*<div class="widget col-lg-3 col-md-6 widget_wrd-recent-posts">
                                    <h3 class="widget-title">Recent Posts</h3>

                                    <ul class="wrd-recent-post-widget">
                                        <li>
                                            <img src="/Content/assets/images/blog/blog-small-1.jpg" alt="blog">

                                            <div class="wrd-recent-post-title-and-date">
                                                <h6>
                                                    <a class="wrd-recent-post-widget-title" href="blog-details.html">Study finds link between early stages ...</a>
                                                </h6>

                                                <div class="wrd-recent-widget-date">
                                                    <span class="posted-on">
                                                        <i class="far fa-calendar-check"></i>
                                                        <a href="blog-details.html">June 10, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <img src="/Content/assets/images/blog/blog-small-2.jpg" alt="blog">

                                            <div class="wrd-recent-post-title-and-date">
                                                <h6>
                                                    <a class="wrd-recent-post-widget-title" href="blog-details.html">Every seconds someone develops the rare ...</a>
                                                </h6>

                                                <div class="wrd-recent-widget-date">
                                                    <span class="posted-on">
                                                        <i class="far fa-calendar-check"></i>
                                                        <a href="blog-details.html">June 10, 2022</a>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>*@

                                <div class="widget col-lg-4 col-md-8 widget-wrd-contact-info-widget">
                                    <h4 class="widget-title">Thông tin liên hệ</h4>

                                    <ul class="wrd-list-style widget-contact-info-list">
                                        <li class="widget-address-desc" style="display: flex; gap: 10px;">
                                            <i class="fas fa-map-marker-alt"></i>
                                            <div class="widget-addr-dsc">
                                                <p>Số 16, ngách 2, ngõ 343, phố Đội Cấn, P. Liễu Giai, Q. Ba Đình, TP Hà Nội</p>
                                            </div>
                                        </li>

                                        <li>
                                            <a href="tel:+410123456789"><i class="fas fa-mobile-alt"></i>  0365186564</a>
                                        </li>

                                        <li>
                                            <a href="mailto:admin@wrapdiv.com"><i class="fas fa-paper-plane"></i>  thaovu13092001@gmail.com</a>
                                        </li>

                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer-bottom-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="footer-bottom-wrapper">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="site-info-left">
                                                    Nha khoa Phương Thảo | Developed by: <a target="_blank" href="https://wrapdiv.com/">pphuongthao</a>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="site-copyright-text">
                                                    © Nha khoa Phương Thảo 2023 | All Right Reserved
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="scroll-to-top"><i class="flaticon-up-2"></i></div>
                </footer><!-- Footer Area End -->
            </div><!-- Content Area End-->
        </div><!-- Site Content Wrapper End -->
    </div><!--Site Wrapper End-->
    <!-- Template Scripts -->
    <script src="/Content/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/Content/assets/js/popper.min.js"></script>
    <script src="/Content/assets/js/bootstrap.min.js"></script>
    <script src="/Content/assets/js/slick-slider.min.js"></script>
    <script src="/Content/assets/js/counterup.min.js"></script>
    <script src="/Content/assets/js/waypoint.min.js"></script>
    <script src="/Content/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Content/assets/js/isotope.min.js"></script>
    <script src="/Content/assets/js/magnific-popup.min.js"></script>
    <script src="~/Content/assets/js/slicknav.min.js"></script>
    <script src="/Content/assets/js/main.js"></script>
    <script src="~/Content/assets/js/datepicker.min.js"></script>
    <script src="~/Content/assets/vendors/fontawesome/all.min.js"></script>
    <script src="https://kit.fontawesome.com/95d9b5bfe3.js" crossorigin="anonymous"></script>
    <script src="~/Content/assets/js/helper.js"></script>
    <script src="~/Content/assets/vendors/sweetalert2/sweetalert2.all.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        const GetUserLayoutInfo = async function () {
            let rq = await fetch('/api/user/GetInforUser', {
                method: 'get',
                headers: Enum.OptionHeaderDefault,
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;

            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                $('#avatar-user').attr('src', GetObjectProperty(rs.data, 'Avatar'));
                $('#user-name').text(GetObjectProperty(rs.data, 'Name'));
                $('#user-account').text(GetObjectProperty(rs.data, 'Account'));
            }
        }
        const GetListServiceCategory = async function () {
            let rq = await fetch('/api/ServiceCategory/GetListServiceCategory', {
                method: 'get',
                headers: Enum.OptionHeaderDefault,
            });
            let rs = await rq.json();
            if (CheckErrorResponse(rs) === false) return;

            $("#idService").html('')
            for (let i = 0; i < rs.data.length; i++) {
                $('#idService').append(`
                                   <li><a href="/dich-vu/danh-sach?Currentpage=1&ServiceCategoryId=${rs.data[i].ServiceCategoryId}">${rs.data[i].Name}</a></li>
                           `)
            }
        }
        const numberNotification = async function () {
            let rq = await fetch('/api/Notification/GetNumberNotificationForHomePage', {
                method: 'get',
                headers: Enum.OptionHeaderDefault
            });
            let rs = await rq.json();
            if (GetObjectProperty(rs, 'status') === Enum.ResponseStatus.SUCCESS) {
                let total = rs.data.numbernotification;
                if (parseInt(total) > 0) {
                    $('#number-notification-user').css('display', 'flex');
                    $('#number-notification-user').text(total)
                } else {
                    $('#number-notification-user').hide();
                }
            }
        }
        const InitPage = async function () {
            await GetUserLayoutInfo();
            await GetListServiceCategory();
            await numberNotification();
        }
        InitPage();
        const LogOut = async () => {
            if (confirm('Bạn có chắc chắn muốn đăng xuất tài khoản khỏi hệ thống?')) {
                let rq = await fetch('/api/user/logout', {
                    method: 'get',
                    headers: Enum.OptionHeaderDefault
                });
                let rs = await rq.json();
                if (CheckErrorResponse(rs) === false) return;
                EraseCookie('UserToken');
                EraseCookie('Email');
                window.location.href = '/dang-nhap';
            }
        }
    </script>
</body>

<!-- Mirrored from demo.wrapdiv.com/html/doctio/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 18 Apr 2023 08:45:58 GMT -->
</html>